body {
  margin: 0;
  
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}

#myVideo {
  filter: opacity(100%);
  object-fit: cover;
  width: 100vw;
  height: 85vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}


#counter {
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #000;
}


.digit {
  width: 4vw; /* Set the width and height according to your number images */
  height: 10vh;
  /* width: 50px; /* Set the width and height according to your number images */
  /* height: 75px; /* Set the width and height according to your number images */
  
  display: inline-block;
  top:0vh;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  animation: move-animation 2s infinite linear,
    glow-animation 1s infinite alternate;
}


.image {
  width: 24.5vw; /* Set the width according to your image size */
  height: auto; /* Set the height according to your image size */
  position: fixed;
  top: 93vh;
  bottom: 0px;
  
  display: inline-block;
  
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  animation: move-animation 20s infinite linear,
  glow-animation 1s infinite alternate;
}
@media screen and (min-width: 2500px) {
  .image {
    width: 300px;
    height: auto; 
    position: fixed;
    margin-inline-start: 40%;
    bottom: 30px;
    
  }
  .digit {
    width: 70px; /* Set the width and height according to your number images */
    height: auto;
    
    display: inline-block;
    top:20px;
    -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
    filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
    animation: move-animation 2s infinite linear,
    glow-animation 1s infinite alternate;
  }

  
  #daysImage {
    left: 30.6vw/* Adjust the left position according to your layout */
  }
  
  #hoursImage {
    left: 30.6vw; /* Adjust the left position according to your layout */
  }
  
  #minImage {
    left: 40vw; /* Adjust the left position according to your layout */
  }
  
  #secondsImage {
    left: 57.5vw; /* Adjust the left position according to your layout */
  }
  #revImage{
    
    left: 10px;
    animation: fade-animation 10s infinite linear,
    glow-animation 1s infinite alternate;
  }
  #comImage{

    right: 10px;
    animation: fade-animation 10s infinite linear,
    glow-animation 1s infinite alternate;
  }
  
}

@media screen and (min-width: 1400px) {

  .image {
    width: 24.5vw; 
    height: auto; 
    position: fixed;
    top: 93vh;
    bottom: 0px;
  }
  .image_lol{
    width: 25vw;
    height: auto; 
    position: fixed;
  }
  .digit{
    bottom: 40px;
  }
  #counter{
    display: inline;
  }
}
  

@media screen and (max-width: 768px) {
  .image {
    width: 100px; 
    height: 56px; 
    top: 87vh;
    position: absolute;
  }
  .image_lol{
    width: 25vw;
    height: auto; 
    position: fixed;
    top:10vh;
    display: none;
  }
  .rc{
    display: none;
  }
  .digit {
    width: 4vw; 
    height: 12vh;
    position: absolute;
    display: inline-block;
    -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
    filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
    animation: move-animation 2s infinite linear,
    glow-animation 1s infinite alternate;
  }
  #counter {
    width: 100vw;
    height:300px;
    position: fixed;
    bottom: 0;
  
    background-color: #000;
  }
  #myVideo {
    filter: opacity(10%);
    object-fit:contain;
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: -10;
    margin: auto;
  }  
  #revImage,
  #comImage {
    display: none;
  }
}


.image_lol{
  width: 25vw;
  height: auto; 
  position: fixed;
}
#daysImage {
  left: 17.5vw; /* Adjust the left position according to your layout */
}

#hoursImage {
  left: 30.6vw; /* Adjust the left position according to your layout */
}

#minImage {
  left: 44vw; /* Adjust the left position according to your layout */
}

#secondsImage {
  left: 57.5vw; /* Adjust the left position according to your layout */
}
#revImage{
  top: 87vh;
  left: 1vw;
  animation: fade-animation 10s infinite linear,
  glow-animation 1s infinite alternate;
}
#comImage{
  top: 87vh;
  right: 0.5vw;
  animation: fade-animation 10s infinite linear,
  glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
  from {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0, 0.8));
    filter: drop-shadow(0px 0px 10px rgb(255, 215, 0, 0.8));
  }

  to {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255, 215, 0, 1));
    filter: drop-shadow(0px 0px 20px rgba(255, 215, 0, 1));
  }
}
@keyframes move-animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  2% {
    opacity: 0.01;
  }

  8% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  99% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fade-animation {
  0% {
    opacity: 0.2;
    transform: scale(0.95);
  }
  50%{
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.95);
  }
}