body {
  margin: 0;
  
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}

#myVideo {
  filter: opacity(100%);
  object-fit: cover;
  width: 100vw;
  height: 85vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
.unmute-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#counter {
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #000;
}


.digit {
  width: 4vw; /* Set the width and height according to your number images */
  height: 10vh;
  /* width: 50px; /* Set the width and height according to your number images */
  /* height: 75px; /* Set the width and height according to your number images */
  
  display: inline-block;
  top:0vh;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  animation: move-animation 2s infinite linear,
    glow-animation 1s infinite alternate;
}


@keyframes glow-animation {
  from {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0, 0.8));
    filter: drop-shadow(0px 0px 10px rgb(255, 215, 0, 0.8));
  }

  to {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255, 215, 0, 1));
    filter: drop-shadow(0px 0px 20px rgba(255, 215, 0, 1));
  }
}
@keyframes move-animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  2% {
    opacity: 0.01;
  }

  8% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  99% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fade-animation {
  0% {
    opacity: 0.2;
    transform: scale(0.95);
  }
  50%{
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.95);
  }
}
.image {
  width: 25vw; /* Set the width according to your image size */
  height: auto; /* Set the height according to your image size */
  position: fixed;
  top: 90vh;
  bottom: 40px;
  
  display: inline-block;

  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
  animation: move-animation 20s infinite linear,
    glow-animation 1s infinite alternate;
}
@media screen and (min-width: 1600px) {
  .image {
      width: 650px;
      height: auto;
      top:7vh;
      position: absolute;

    }
    .digit {
      width: 100px; /* Set the width and height according to your number images */
      height: auto;
      
      display: inline-block;
      top:1vh;
      -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
      filter: drop-shadow(0px 0px 10px rgb(255, 215, 0));
      animation: move-animation 2s infinite linear,
        glow-animation 1s infinite alternate;
    }
    #daysImage, #hoursImage, #minImage, #secondsImage {
      position: relative;
      left: auto; /* Reset the left property for responsive behavior */
  }

}
@media screen and (max-width: 600px) {
  .image {
      width: 80px; /* Set the width according to your design for phones */
      height: 56px; /* Set the height according to your design for phones */
      top: 87vh;
      position: fixed;
  }
  #revImage{
    top: 87vh;
    left: 1vw;
    animation: fade-animation 10s infinite linear,
      glow-animation 1s infinite alternate;
  }
  #comImage{
    top: 87vh;
    right: 0.5vw;
    animation: fade-animation 10s infinite linear,
      glow-animation 1s infinite alternate;
  }
}
#daysImage {
  left: 17.5vw; /* Adjust the left position according to your layout */
}

#hoursImage {
  left: 30.6vw; /* Adjust the left position according to your layout */
}

#minImage {
  left: 44vw; /* Adjust the left position according to your layout */
}

#secondsImage {
  left: 57.5vw; /* Adjust the left position according to your layout */
}
#revImage{
  top: 87vh;
  left: 1vw;
  animation: fade-animation 10s infinite linear,
    glow-animation 1s infinite alternate;
}
#comImage{
  top: 87vh;
  right: 0.5vw;
  animation: fade-animation 10s infinite linear,
    glow-animation 1s infinite alternate;
}